
.custom-filter-dropdown {
    padding: 8px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
  }
  
  .custom-filter-dropdown input {
    width: 130px;
    margin-right: 8px;
  }
  
  .custom-filter-dropdown button {
    margin-right: 8px;
  }
  
  .highlight {
    color: #f50;
  }

  .left-margin { 
      margin-left: 2px !important;
      /* position: absolute !important; */
      right: 10px !important;
    }

    thead[class*="ant-table-thead"] th{
      background-color: 	#dddddd !important;
      /* height: 10px !important; */
    }

    
  

  .rightbtn{
    float: right !important;
    margin-right: 5px !important;

  }

  th{
    line-height: 14px;
  }

  td{
    height: 25px !important;
  }
  .flotingBtn{
    bottom: 40px !important;
  }
  